.search-form {
  padding: 60px 0 70px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search-form__form {
  display: flex;
  position: relative;
}

.search-form__input {
  margin-bottom: 42px;
  width: 100%;
  padding: 14px 22px;
  font-size: 13px;
  font-weight: 400;
  line-height: 131%;
  border-radius: 40px;
  background: #F9F9F9;
  border: none;
}

.search-form__input::placeholder {
  color: #A0A0A0;
  font-size: 13px;
  font-weight: 400;
  line-height: 131%;
}

.search-form__input:focus {
  outline: 2px solid #2BE080;
}

.search-form__button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 80px;
  height: 34px;
  background: #FF6838 url('../../images/search-icon.svg') no-repeat 24px 0;
  border-radius: 17px;
}

.search-form__label-tumbler {
  display: block;
  max-width: 126px;
  margin: 0 auto;
  padding-left: 48px;
  cursor: pointer;
  position: relative;
}

.search-form__text-tumbler {
  user-select: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 128%;
}

.search-form__text-tumbler::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E8E8E8;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  transition: background-color .3s ease-in-out;
}

.search-form__text-tumbler::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #FFF;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: left .3s ease-in-out;
}

.search-form__tumbler {
  display: none;
}

.search-form__tumbler:checked + .search-form__text-tumbler::after {
  left: 18px;
}

.search-form__tumbler:checked + .search-form__text-tumbler::before {
  background-color: #2BE080;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 74px 0 51px;
  }
}

@media screen and (max-width: 450px) {
  .search-form {
    padding: 80px 4px 51px;
  }

  .search-form__input {
    padding: 14px 19px;
    font-size: 11px;
    line-height: 156%;
  }

  .search-form__input::placeholder {
    font-size: 11px;
    line-height: 156%;
  }

  .search-form__label-tumbler {
    padding-left: 50px;
    max-width: 100px;
  }

  .search-form__text-tumbler {
    font-size: 11px;
    line-height: 164%;
  }
}
